#ContainerDiv {
    margin: auto;
    position: fixed;
    margin: auto;
    left: 0;
    bottom: 0;
    width: 100%;
}

#InnerContainer {
    width: 100%;
}

#TheBelowDiv {
    font-size: 18pt;
    font-family: Tahoma;
    text-align: center;
    color: white;
}